@import 'src/styles/colors';

.inspection__header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  background-color: $white;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $black-40;
  }
  .back {
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 600;
    &:after {
     position: absolute;
      display: block;
      content: '';
      left: 3px;
      top: 4px;
      width: 6px;
      height: 6px;
      background-color: transparent;
      border-left: 2px solid $black-40;
      border-top: 2px solid $black-40;
      transform: rotateZ(-45deg);
    }
  }
  .title {
    color: $gray-40;
  }
}