$white: #fff;

//black
$black-40: #1f2229;
$black-20: #404145;

// gray
$gray-40: #939aa2;
$gray-30: #d8d8d8;
$gray-20: #f5f9fc;


// red
$red-40: #d92337;
$red-20: #ff697a;

// shadow
$shadow-40: 0 2px 8px 0 rgba(34, 34, 37, 0.1);