@import "src/styles/colors";

.nav__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 80px;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: $shadow-40;
  z-index: 999;

  .tab__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
  }
  .exit__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}